In [26]:
import pandas as pd
import numpy as np

In [27]:
dmepos = pd.read_csv("../labelled_data/DMEPOS/features/dmepos_features_data.csv")

In [28]:
dmepos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230782 entries, 0 to 230781
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 230782 non-null  int64
 1   Rfrg_NPI                   230782 non-null  int64
 2   Rfrg_Prvdr_Type            230782 non-null  object
 3   Rfrg_Prvdr_Gndr            230782 non-null  object
 4   Tot_Suplrs                 230782 non-null  int64
 5   Tot_Suplr_Benes            230782 non-null  float64
 6   Tot_Suplr_Clms             230782 non-null  int64
 7   Tot_Suplr_Srvcs            230782 non-null  int64
 8   Suplr_Sbmtd_Chrgs          230782 non-null  float64
 9   Suplr_Mdcr_Alowd_Amt       230782 non-null  float64
 10  Suplr_Mdcr_Pymt_Amt        230782 non-null  float64
 11  Suplr_Mdcr_Stdzd_Pymt_Amt  230782 non-null  float64
 12  Fraud                      230782 non-null  int64
 13  FraudType                  230782 non-null  object
dtypes: float64(5), int64(6), object(3)
memory usage: 24.7+ MB

In [29]:
dmepos["Fraud"].value_counts()

Fraud
0    230721
1        61
Name: count, dtype: int64

In [30]:
dmepos["Rfrg_Prvdr_Type"].value_counts()

Rfrg_Prvdr_Type
Family Practice                52591
Internal Medicine              48750
Nurse Practitioner             32517
Physician Assistant            15642
Orthopedic Surgery             14641
                               ...
Hospital                           1
Geriatric Psychiatry               1
General Acute Care Hospital        1
Chiropractic                       1
Naturopath                         1
Name: count, Length: 96, dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dmepos['Rfrg_Prvdr_Type'] = label_encoder.fit_transform(dmepos['Rfrg_Prvdr_Type'])

In [32]:
dmepos["Rfrg_Prvdr_Type"].value_counts()

Rfrg_Prvdr_Type
21    52591
37    48750
54    32517
71    15642
60    14641
      ...
34        1
27        1
23        1
8         1
47        1
Name: count, Length: 96, dtype: int64

In [33]:
dmepos["Rfrg_Prvdr_Gndr"].value_counts()

Rfrg_Prvdr_Gndr
M    138906
F     91876
Name: count, dtype: int64

In [34]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dmepos['Rfrg_Prvdr_Gndr'] = label_encoder.fit_transform(dmepos['Rfrg_Prvdr_Gndr'])

In [35]:
dmepos["Rfrg_Prvdr_Gndr"].value_counts()

Rfrg_Prvdr_Gndr
1    138906
0     91876
Name: count, dtype: int64

In [36]:
dmepos["FraudType"].value_counts()

FraudType
0            230721
1128a1           20
1128b4           16
1128a4            8
1128a1            6
1128b7            5
1128a3            3
1128a2            1
1128a2            1
1128b2            1
Name: count, dtype: int64

In [37]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
dmepos['FraudType'] = label_encoder.fit_transform(dmepos['FraudType'])

In [38]:
dmepos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230782 entries, 0 to 230781
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Unnamed: 0                 230782 non-null  int64
 1   Rfrg_NPI                   230782 non-null  int64
 2   Rfrg_Prvdr_Type            230782 non-null  int64
 3   Rfrg_Prvdr_Gndr            230782 non-null  int64
 4   Tot_Suplrs                 230782 non-null  int64
 5   Tot_Suplr_Benes            230782 non-null  float64
 6   Tot_Suplr_Clms             230782 non-null  int64
 7   Tot_Suplr_Srvcs            230782 non-null  int64
 8   Suplr_Sbmtd_Chrgs          230782 non-null  float64
 9   Suplr_Mdcr_Alowd_Amt       230782 non-null  float64
 10  Suplr_Mdcr_Pymt_Amt        230782 non-null  float64
 11  Suplr_Mdcr_Stdzd_Pymt_Amt  230782 non-null  float64
 12  Fraud                      230782 non-null  int64
 13  FraudType                  230782 non-null  int64
dtypes: float64(5), int64(9)
memory usage: 24.7 MB

In [39]:
val_dmepos = dmepos.sample(frac=0.1,random_state=0)

In [40]:
val_dmepos["Fraud"].value_counts()

Fraud
0    23070
1        8
Name: count, dtype: int64

In [41]:
fraud_zero_indices = val_dmepos.index
dmepos = dmepos.drop(fraud_zero_indices,axis=0)

In [42]:
dmepos["Fraud"].value_counts()

Fraud
0    207651
1        53
Name: count, dtype: int64

In [43]:
val_dmepos.to_csv("../labelled_data/DMEPOS/features/validation_dmepos.csv")

## Resampling -- Fraud

In [44]:
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd

X = dmepos.drop(['Fraud','FraudType'], axis=1)
y = dmepos['Fraud']
# Create a RandomUnderSampler instance
rus = RandomUnderSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
dmepos_rus = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [45]:
dmepos_rus["Fraud"].value_counts()

Fraud
0    53
1    53
Name: count, dtype: int64

In [46]:
dmepos_rus

,Unnamed: 0,Rfrg_NPI,Rfrg_Prvdr_Type,Rfrg_Prvdr_Gndr,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Suplr_Sbmtd_Chrgs,Suplr_Mdcr_Alowd_Amt,Suplr_Mdcr_Pymt_Amt,Suplr_Mdcr_Stdzd_Pymt_Amt,Fraud
26236,43451,1114244860,35,0,9,16.0,100,570,75839.07,29240.75,22753.02,21732.75,0
149189,247600,1649408493,37,1,21,51.0,211,8279,149737.04,24262.80,18922.57,20122.17,0
124482,206305,1538456439,79,1,30,59.0,389,48269,204154.83,72922.17,57301.12,59215.83,0
182508,303583,1790110955,21,1,15,33.0,144,5538,59064.80,27734.66,20997.16,17718.64,0
227648,378349,1982738712,2,0,10,11.0,69,9719,224482.58,83163.74,66056.57,65222.94,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
217768,361818,1942287735,21,1,54,123.0,693,24986,357044.65,146546.29,112854.65,102817.87,1
222354,369485,1962483230,79,1,48,259.0,1689,127696,551140.61,197071.67,147805.68,161547.75,1
226864,377194,1982644548,21,1,9,11.0,28,95,4486.81,1684.29,1329.77,1343.25,1
227051,377477,1982662722,21,1,19,20.0,58,2584,21190.91,9934.17,7631.73,7791.35,1
229828,382003,1992777296,24,1,14,61.0,84,491,44971.91,14099.07,8614.25,5649.95,1

In [47]:
from imblearn.over_sampling import RandomOverSampler
import pandas as pd

X = dmepos.drop(['Fraud','FraudType'], axis=1)
y = dmepos['Fraud']
# Create a RandomUnderSampler instance
rus = RandomOverSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
dmepos_ros = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [48]:
dmepos_ros["Fraud"].value_counts()

Fraud
0    207651
1    207651
Name: count, dtype: int64

In [49]:
dmepos_ros

,Unnamed: 0,Rfrg_NPI,Rfrg_Prvdr_Type,Rfrg_Prvdr_Gndr,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Suplr_Sbmtd_Chrgs,Suplr_Mdcr_Alowd_Amt,Suplr_Mdcr_Pymt_Amt,Suplr_Mdcr_Stdzd_Pymt_Amt,Fraud
0,1,1003000522,21,1,28,33.0,97,1136,44435.62,21935.41,17189.84,16974.70,0
1,2,1003000530,37,0,11,19.0,65,1117,18711.69,7082.11,5577.12,5955.41,0
2,4,1003000738,71,0,1,13.0,13,13,2080.00,1422.75,1134.81,1173.77,0
3,5,1003000902,21,0,37,50.0,237,6038,59451.27,19356.10,14444.34,14379.62,0
4,8,1003001363,63,1,2,11.0,11,11,20196.05,11254.08,8628.40,8512.72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
415297,239605,1629183223,74,1,4,37.0,44,2274,53240.14,26109.12,20332.82,20107.73,1
415298,51571,1134232887,37,1,14,14.0,75,268,66324.45,15128.03,11551.37,13283.37,1
415299,361818,1942287735,21,1,54,123.0,693,24986,357044.65,146546.29,112854.65,102817.87,1
415300,377194,1982644548,21,1,9,11.0,28,95,4486.81,1684.29,1329.77,1343.25,1
415301,100312,1265431316,37,1,12,14.0,31,354,45507.46,21039.72,15759.50,16153.53,1

In [50]:
from imblearn.combine import SMOTEENN

X = dmepos.drop(['Fraud','FraudType'], axis=1)
y = dmepos['Fraud']
# Create a RandomUnderSampler instance
rus = SMOTEENN(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
dmepos_smote = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [51]:
dmepos_smote["Fraud"].value_counts()

Fraud
1    201141
0    194641
Name: count, dtype: int64

In [52]:
dmepos_smote

,Unnamed: 0,Rfrg_NPI,Rfrg_Prvdr_Type,Rfrg_Prvdr_Gndr,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Suplr_Sbmtd_Chrgs,Suplr_Mdcr_Alowd_Amt,Suplr_Mdcr_Pymt_Amt,Suplr_Mdcr_Stdzd_Pymt_Amt,Fraud
0,1,1003000522,21,1,28,33.000000,97,1136,44435.620000,21935.410000,17189.840000,16974.700000,0
1,2,1003000530,37,0,11,19.000000,65,1117,18711.690000,7082.110000,5577.120000,5955.410000,0
2,4,1003000738,71,0,1,13.000000,13,13,2080.000000,1422.750000,1134.810000,1173.770000,0
3,5,1003000902,21,0,37,50.000000,237,6038,59451.270000,19356.100000,14444.340000,14379.620000,0
4,8,1003001363,63,1,2,11.000000,11,11,20196.050000,11254.080000,8628.400000,8512.720000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
395777,307537,1797785560,21,1,12,24.188160,148,20606,59813.315571,27500.847126,20441.371801,22565.285487,1
395778,188905,1493000371,44,1,19,43.579825,297,4973,99946.708510,37387.317388,29121.468818,25598.683602,1
395779,360118,1936987257,29,0,42,96.242597,549,19240,275591.087813,112608.731051,86792.777682,79431.194906,1
395780,45597,1120673889,62,1,5,13.326495,33,113,58974.791561,17496.538766,13608.490403,14013.860402,1
395781,99279,1262508723,37,1,12,14.797126,35,659,46490.973593,21248.041912,15939.383729,16367.696293,1

## Resampling -- FraudType

In [53]:
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd

X = dmepos.drop(['Fraud','FraudType'], axis=1)
y = dmepos['FraudType']
# Create a RandomUnderSampler instance
rus = RandomUnderSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
dmepos_rus_type = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='FraudType')], axis=1)

In [54]:
dmepos_rus_type["FraudType"].value_counts()

FraudType
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: count, dtype: int64

In [55]:
dmepos_rus_type

,Unnamed: 0,Rfrg_NPI,Rfrg_Prvdr_Type,Rfrg_Prvdr_Gndr,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Suplr_Sbmtd_Chrgs,Suplr_Mdcr_Alowd_Amt,Suplr_Mdcr_Pymt_Amt,Suplr_Mdcr_Stdzd_Pymt_Amt,FraudType
26236,43451,1114244860,35,0,9,16.0,100,570,75839.07,29240.75,22753.02,21732.75,0
142825,237056,1619959004,21,1,14,24.0,55,524,13977.96,6233.96,4657.49,3798.11,1
135384,224569,1588678437,37,0,50,177.0,889,8389,249763.07,83059.76,64767.18,71254.98,2
8134,13385,1033280003,21,1,27,56.0,283,4541,65681.20,24033.45,18284.37,16836.73,3
151270,251041,1659430163,21,0,9,11.0,38,527,24189.32,14730.75,11557.86,11501.76,4
100567,166594,1437240603,69,1,9,20.0,197,256,24346.83,7887.12,5482.04,5288.42,5
160430,266738,1699741041,21,1,11,25.0,41,961,29960.37,9621.23,5663.88,5224.16,6
229828,382003,1992777296,24,1,14,61.0,84,491,44971.91,14099.07,8614.25,5649.95,7
153705,255144,1669541827,82,1,13,21.0,52,201,49449.09,36611.92,28786.44,26908.81,8
217768,361818,1942287735,21,1,54,123.0,693,24986,357044.65,146546.29,112854.65,102817.87,9

In [56]:
from imblearn.over_sampling import RandomOverSampler
import pandas as pd

X = dmepos.drop(['Fraud','FraudType'], axis=1)
y = dmepos['FraudType']
# Create a RandomUnderSampler instance
rus = RandomOverSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
dmepos_ros_type = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='FraudType')], axis=1)

In [58]:
dmepos_ros_type["FraudType"].value_counts()

FraudType
0    207651
8    207651
5    207651
3    207651
1    207651
6    207651
9    207651
2    207651
4    207651
7    207651
Name: count, dtype: int64

In [59]:
dmepos_ros_type

,Unnamed: 0,Rfrg_NPI,Rfrg_Prvdr_Type,Rfrg_Prvdr_Gndr,Tot_Suplrs,Tot_Suplr_Benes,Tot_Suplr_Clms,Tot_Suplr_Srvcs,Suplr_Sbmtd_Chrgs,Suplr_Mdcr_Alowd_Amt,Suplr_Mdcr_Pymt_Amt,Suplr_Mdcr_Stdzd_Pymt_Amt,FraudType
0,1,1003000522,21,1,28,33.0,97,1136,44435.62,21935.41,17189.84,16974.70,0
1,2,1003000530,37,0,11,19.0,65,1117,18711.69,7082.11,5577.12,5955.41,0
2,4,1003000738,71,0,1,13.0,13,13,2080.00,1422.75,1134.81,1173.77,0
3,5,1003000902,21,0,37,50.0,237,6038,59451.27,19356.10,14444.34,14379.62,0
4,8,1003001363,63,1,2,11.0,11,11,20196.05,11254.08,8628.40,8512.72,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2076505,147406,1386656528,94,1,7,62.0,188,60294,276182.10,251381.90,197822.48,221558.76,9
2076506,70365,1184623514,55,1,13,20.0,118,8251,169949.48,55170.86,43330.09,42689.01,9
2076507,40598,1104829639,5,1,11,13.0,69,193,22999.40,9144.17,7141.38,5899.57,9
2076508,70365,1184623514,55,1,13,20.0,118,8251,169949.48,55170.86,43330.09,42689.01,9
2076509,37767,1093904914,21,1,10,11.0,24,6862,70620.19,5755.75,4147.03,3221.35,9

In [60]:
dmepos_ros.to_csv("../labelled_data/DMEPOS/features/dmepos_ros_features.csv")
dmepos_rus.to_csv("../labelled_data/DMEPOS/features/dmepos_rus_features.csv")
dmepos_smote.to_csv("../labelled_data/DMEPOS/features/dmepos_smote_features.csv")

In [61]:
dmepos_ros_type.to_csv("../labelled_data/DMEPOS/features/dmepos_ros_type_features.csv")
dmepos_rus_type.to_csv("../labelled_data/DMEPOS/features/dmepos_rus_type_features.csv")