In [1]:
import pandas as pd
import numpy as np

In [2]:
partb = pd.read_csv("../labelled_data/part_B/features/partb_features_data.csv")

In [3]:
partb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100726 entries, 0 to 1100725
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Unnamed: 0          1100726 non-null  int64
 1   Rndrng_NPI          1100726 non-null  int64
 2   Rndrng_Prvdr_Type   1100726 non-null  object
 3   Rndrng_Prvdr_Gndr   1100726 non-null  object
 4   Tot_Srvcs           1100726 non-null  float64
 5   Tot_Benes           1100726 non-null  float64
 6   Tot_Sbmtd_Chrg      1100726 non-null  float64
 7   Tot_Mdcr_Alowd_Amt  1100726 non-null  float64
 8   Tot_Mdcr_Pymt_Amt   1100726 non-null  float64
 9   Tot_Mdcr_Stdzd_Amt  1100726 non-null  float64
 10  Fraud               1100726 non-null  int64
 11  FraudType           1100726 non-null  object
dtypes: float64(6), int64(3), object(3)
memory usage: 100.8+ MB

In [4]:
partb['Fraud'].value_counts()

Fraud
0    1100610
1        116
Name: count, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
partb['Rndrng_Prvdr_Type'] = label_encoder.fit_transform(partb['Rndrng_Prvdr_Type'])

In [6]:
partb["Rndrng_Prvdr_Type"]

0          39
1          65
2           5
3          56
4          27
           ..
1100721    22
1100722    39
1100723    13
1100724    63
1100725    39
Name: Rndrng_Prvdr_Type, Length: 1100726, dtype: int64

In [7]:
partb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100726 entries, 0 to 1100725
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Unnamed: 0          1100726 non-null  int64
 1   Rndrng_NPI          1100726 non-null  int64
 2   Rndrng_Prvdr_Type   1100726 non-null  int64
 3   Rndrng_Prvdr_Gndr   1100726 non-null  object
 4   Tot_Srvcs           1100726 non-null  float64
 5   Tot_Benes           1100726 non-null  float64
 6   Tot_Sbmtd_Chrg      1100726 non-null  float64
 7   Tot_Mdcr_Alowd_Amt  1100726 non-null  float64
 8   Tot_Mdcr_Pymt_Amt   1100726 non-null  float64
 9   Tot_Mdcr_Stdzd_Amt  1100726 non-null  float64
 10  Fraud               1100726 non-null  int64
 11  FraudType           1100726 non-null  object
dtypes: float64(6), int64(4), object(2)
memory usage: 100.8+ MB

In [8]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
partb['Rndrng_Prvdr_Gndr'] = label_encoder.fit_transform(partb['Rndrng_Prvdr_Gndr'])

In [9]:
partb["Rndrng_Prvdr_Gndr"]

0          1
1          1
2          1
3          0
4          1
          ..
1100721    1
1100722    0
1100723    1
1100724    1
1100725    0
Name: Rndrng_Prvdr_Gndr, Length: 1100726, dtype: int64

In [10]:
partb["FraudType"].value_counts()

FraudType
0            1100610
1128b4            35
1128a1            30
1128a4            14
1128a1            13
1128a3             8
1128b7             8
1128b1             2
1128a2             2
BRCH SA            1
1128a2             1
1128b2             1
1128a3             1
Name: count, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
partb['FraudType'] = label_encoder.fit_transform(partb['FraudType'])

In [12]:
partb["FraudType"].value_counts()

FraudType
0     1100610
10         35
1          30
7          14
2          13
5           8
11          8
8           2
4           2
12          1
3           1
9           1
6           1
Name: count, dtype: int64

In [13]:
partb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100726 entries, 0 to 1100725
Data columns (total 12 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   Unnamed: 0          1100726 non-null  int64
 1   Rndrng_NPI          1100726 non-null  int64
 2   Rndrng_Prvdr_Type   1100726 non-null  int64
 3   Rndrng_Prvdr_Gndr   1100726 non-null  int64
 4   Tot_Srvcs           1100726 non-null  float64
 5   Tot_Benes           1100726 non-null  float64
 6   Tot_Sbmtd_Chrg      1100726 non-null  float64
 7   Tot_Mdcr_Alowd_Amt  1100726 non-null  float64
 8   Tot_Mdcr_Pymt_Amt   1100726 non-null  float64
 9   Tot_Mdcr_Stdzd_Amt  1100726 non-null  float64
 10  Fraud               1100726 non-null  int64
 11  FraudType           1100726 non-null  int64
dtypes: float64(6), int64(6)
memory usage: 100.8 MB

In [14]:
val_partb = partb.sample(frac=0.1,random_state=0)
fraud_zero_indices = val_partb[val_partb["Fraud"] == 0].index
rows_to_remove = 100000

if len(fraud_zero_indices) >= rows_to_remove:
    random_indices_to_remove = np.random.choice(fraud_zero_indices, size=rows_to_remove, replace=False)
    val_partb = val_partb.drop(random_indices_to_remove)
else:
    print("Not enough rows with fraud=0 to remove.")

In [15]:
val_partb["Fraud"].value_counts()

Fraud
0    10060
1       13
Name: count, dtype: int64

In [16]:
fraud_zero_indices = val_partb.index
partb = partb.drop(fraud_zero_indices,axis=0)

In [17]:
partb["Fraud"].value_counts()

Fraud
0    1090550
1        103
Name: count, dtype: int64

In [18]:
val_partb["Fraud"].value_counts()

Fraud
0    10060
1       13
Name: count, dtype: int64

In [19]:
val_partb.to_csv('../labelled_data/part_B/features/validation_partb.csv')

## Sampling and save it  -- For Fraud

In [20]:
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd

X = partb.drop(['Fraud','FraudType'], axis=1)
y = partb['Fraud']
# Create a RandomUnderSampler instance
rus = RandomUnderSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
partb_rus = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [21]:
partb_rus

,Unnamed: 0,Rndrng_NPI,Rndrng_Prvdr_Type,Rndrng_Prvdr_Gndr,Tot_Srvcs,Tot_Benes,Tot_Sbmtd_Chrg,Tot_Mdcr_Alowd_Amt,Tot_Mdcr_Pymt_Amt,Tot_Mdcr_Stdzd_Amt,Fraud
487196,514265,1447284344,58,1,179.0,133.0,30229.0,13396.09,5503.01,5263.85,0
757743,799794,1689842049,40,1,1938.0,1023.0,671028.0,183976.13,141210.32,138865.00,0
380161,401335,1346412731,53,1,604.0,193.0,1133045.0,108549.88,86518.05,89429.57,0
954322,1007047,1861732638,36,0,236.0,54.0,74284.0,20153.42,16121.87,14639.61,0
322829,340533,1295219079,70,0,2817.0,89.0,173978.0,70552.14,56161.94,52806.91,0
...,...,...,...,...,...,...,...,...,...,...,...
1059719,1118286,1962483230,78,1,4146.0,781.0,998238.0,333015.83,253335.52,228881.87,1
1085609,1145657,1982743589,26,1,94.0,45.0,15750.0,11082.67,7841.14,7549.29,1
1086327,1146415,1982787842,70,1,1237.0,11.0,45641.0,33723.68,26885.67,25002.94,1
1094954,1155450,1992732739,18,1,632.0,177.0,418272.0,135167.73,107625.89,96228.16,1
1098470,1159192,1992860977,39,1,57.0,24.0,7294.4,2593.63,828.82,810.51,1

In [22]:
partb_rus["Fraud"].value_counts()

Fraud
0    103
1    103
Name: count, dtype: int64

In [23]:
from imblearn.over_sampling import RandomOverSampler
import pandas as pd

X = partb.drop(['Fraud','FraudType'], axis=1)
y = partb['Fraud']
# Create a RandomUnderSampler instance
rus = RandomOverSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
partb_ros = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [24]:
partb_ros

,Unnamed: 0,Rndrng_NPI,Rndrng_Prvdr_Type,Rndrng_Prvdr_Gndr,Tot_Srvcs,Tot_Benes,Tot_Sbmtd_Chrg,Tot_Mdcr_Alowd_Amt,Tot_Mdcr_Pymt_Amt,Tot_Mdcr_Stdzd_Amt,Fraud
0,0,1003000126,39,1,764.0,291.0,402812.00,85319.63,69175.78,66401.61,0
1,1,1003000134,65,1,5930.0,2633.0,915291.00,227372.53,176497.74,167363.18,0
2,2,1003000142,5,1,2003.0,167.0,182532.48,101757.15,76938.82,80179.52,0
3,3,1003000423,56,0,571.0,56.0,23680.00,9011.99,7224.35,7301.35,0
4,4,1003000480,27,1,125.0,89.0,152154.00,30631.10,23962.85,23463.98,0
...,...,...,...,...,...,...,...,...,...,...,...
2181095,679912,1588678437,39,0,5263.0,583.0,797304.00,591578.26,443915.59,436072.86,1
2181096,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,1
2181097,878913,1750629572,55,0,45.0,17.0,28875.00,1916.61,1180.93,1213.85,1
2181098,608582,1528139722,5,1,544.0,111.0,101853.08,44113.45,31179.59,30797.07,1
2181099,558666,1487071908,55,1,34.0,24.0,7821.27,2558.48,1926.74,1947.82,1

In [25]:
partb_ros["Fraud"].value_counts()

Fraud
0    1090550
1    1090550
Name: count, dtype: int64

In [26]:
from imblearn.combine import SMOTEENN

X = partb.drop(['Fraud','FraudType'], axis=1)
y = partb['Fraud']
# Create a RandomUnderSampler instance
rus = SMOTEENN(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
partb_smote = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='Fraud')], axis=1)

In [27]:
partb_smote

,Unnamed: 0,Rndrng_NPI,Rndrng_Prvdr_Type,Rndrng_Prvdr_Gndr,Tot_Srvcs,Tot_Benes,Tot_Sbmtd_Chrg,Tot_Mdcr_Alowd_Amt,Tot_Mdcr_Pymt_Amt,Tot_Mdcr_Stdzd_Amt,Fraud
0,0,1003000126,39,1,764.000000,291.000000,402812.000000,85319.630000,69175.780000,66401.610000,0
1,1,1003000134,65,1,5930.000000,2633.000000,915291.000000,227372.530000,176497.740000,167363.180000,0
2,2,1003000142,5,1,2003.000000,167.000000,182532.480000,101757.150000,76938.820000,80179.520000,0
3,3,1003000423,56,0,571.000000,56.000000,23680.000000,9011.990000,7224.350000,7301.350000,0
4,4,1003000480,27,1,125.000000,89.000000,152154.000000,30631.100000,23962.850000,23463.980000,0
...,...,...,...,...,...,...,...,...,...,...,...
2142144,428707,1369488227,53,0,619.810162,117.984270,61751.217391,49360.731950,37496.765168,40400.328511,1
2142145,468485,1403576879,25,1,244.931581,80.942454,525289.642077,18164.832569,14176.507835,14155.308921,1
2142146,937568,1801861727,35,1,1273.124734,108.762793,166706.381486,96367.158779,73512.655005,74457.695885,1
2142147,589104,1507090102,18,1,4108.360309,157.904550,587022.018933,456556.784847,358018.286947,311220.813829,1
2142148,360251,1307723257,57,0,136.932271,90.588753,24363.812960,10535.303774,5951.674813,5511.121330,1

In [28]:
partb_smote["Fraud"].value_counts()

Fraud
1    1077905
0    1064244
Name: count, dtype: int64

## Sampling and save it  -- For FraudType

In [29]:
from imblearn.under_sampling import RandomUnderSampler
import pandas as pd

X = partb.drop(['Fraud','FraudType'], axis=1)
y = partb['FraudType']
# Create a RandomUnderSampler instance
rus = RandomUnderSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
partb_rus_type = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='FraudType')], axis=1)

In [30]:
partb_rus_type

,Unnamed: 0,Rndrng_NPI,Rndrng_Prvdr_Type,Rndrng_Prvdr_Gndr,Tot_Srvcs,Tot_Benes,Tot_Sbmtd_Chrg,Tot_Mdcr_Alowd_Amt,Tot_Mdcr_Pymt_Amt,Tot_Mdcr_Stdzd_Amt,FraudType
487196,514265,1447284344,58,1,179.0,133.0,30229.00,13396.09,5503.01,5263.85,0
358162,378054,1326209354,24,0,937.0,181.0,102219.34,74794.37,57189.21,55213.57,1
50246,53146,1043470370,26,1,745.0,37.0,34978.00,23798.82,17696.67,16890.06,2
623203,657826,1568664514,24,1,24.0,18.0,448.00,156.54,150.88,152.89,3
145406,153596,1134171697,64,1,1911.0,191.0,408961.71,131982.22,96566.20,100945.32,4
560909,591947,1508968835,9,1,4913.0,187.0,701734.01,545818.28,428190.59,371882.56,5
1038409,1095814,1942318753,39,1,84.0,27.0,15185.00,9429.72,5761.06,5788.47,6
449650,474585,1407918956,12,1,205.0,95.0,645500.00,14871.18,11622.38,11851.11,7
25151,26619,1023087293,22,1,242.0,177.0,228918.00,26580.47,21789.30,21066.43,8
1003467,1058909,1912108135,21,0,734.0,667.0,127700.00,41871.52,31161.16,30651.67,9
7005,7341,1003834433,51,1,1395.0,102.0,138360.00,100556.21,78978.49,71050.28,10
116933,123308,1104829639,9,1,13277.0,725.0,1578045.71,402458.02,301002.59,316486.95,11
423241,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12

In [31]:
partb_rus_type['FraudType'].value_counts()

FraudType
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
Name: count, dtype: int64

In [32]:
from imblearn.over_sampling import RandomOverSampler
import pandas as pd

X = partb.drop(['Fraud','FraudType'], axis=1)
y = partb['FraudType']
# Create a RandomUnderSampler instance
rus = RandomOverSampler(random_state=42)

# Resample the data
X_resampled, y_resampled = rus.fit_resample(X, y)
partb_ros_type = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.Series(y_resampled, name='FraudType')], axis=1)

In [33]:
partb_ros_type

,Unnamed: 0,Rndrng_NPI,Rndrng_Prvdr_Type,Rndrng_Prvdr_Gndr,Tot_Srvcs,Tot_Benes,Tot_Sbmtd_Chrg,Tot_Mdcr_Alowd_Amt,Tot_Mdcr_Pymt_Amt,Tot_Mdcr_Stdzd_Amt,FraudType
0,0,1003000126,39,1,764.0,291.0,402812.00,85319.63,69175.78,66401.61,0
1,1,1003000134,65,1,5930.0,2633.0,915291.00,227372.53,176497.74,167363.18,0
2,2,1003000142,5,1,2003.0,167.0,182532.48,101757.15,76938.82,80179.52,0
3,3,1003000423,56,0,571.0,56.0,23680.00,9011.99,7224.35,7301.35,0
4,4,1003000480,27,1,125.0,89.0,152154.00,30631.10,23962.85,23463.98,0
...,...,...,...,...,...,...,...,...,...,...,...
14177145,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12
14177146,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12
14177147,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12
14177148,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12
14177149,446607,1386655991,73,0,1355.0,197.0,141699.11,114326.91,86767.98,93482.18,12

In [34]:
partb_ros_type["FraudType"].value_counts()

FraudType
0     1090550
7     1090550
10    1090550
8     1090550
5     1090550
2     1090550
1     1090550
11    1090550
4     1090550
12    1090550
3     1090550
9     1090550
6     1090550
Name: count, dtype: int64

In [35]:
partb_ros.to_csv("../labelled_data/part_B/features/partb_ros_features.csv")
partb_rus.to_csv("../labelled_data/part_B/features/partb_rus_features.csv")
partb_smote.to_csv("../labelled_data/part_B/features/partb_smote_features.csv")

In [36]:
partb_ros_type.to_csv("../labelled_data/part_B/features/partb_ros_type_features.csv")
partb_rus_type.to_csv("../labelled_data/part_B/features/partb_rus_type_features.csv")